/* Website Made by Bence (bencebarens.nl) */

/* Header */
@media (min-width: 1000px) {
    header nav{
        position: fixed;
        left: 1em;
        z-index: 50;
        top: 50%;
        transform: translateY(-50%);
    }
}

header nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: absolute;
}

header nav a{
    text-decoration: none;
}

header p{
    position: absolute;
    top: 1em;
    margin: 0;
    padding: 0 1em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
    text-align: center;
    width: max-content;
    max-width: 100%;
}

header p span{
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: -0.1em;
    padding: 0 0.2em;
}

footer{
    padding: 0 1em 3em 1em;
    text-align: center;
}

@media (min-width: 1000px) {
    header p{
        position: fixed;
    }

    footer{
        position: fixed;
        padding: 1em;
        right: 0;
        bottom: 0;
        z-index: 50;
        text-align: right;
    }
}

footer p{
    margin: 0 auto;
}