/* Website Made by Bence (bencebarens.nl) */

/* Header */
header p{
    position: fixed;
    top: 1em;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    text-align: center;
}

header p span{
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: -0.1em;
    padding: 0 0.2em;
}

header nav{
    position: fixed;
    left: 1em;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
}

header nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

header nav a{
    text-decoration: none;
}